langchain==0.3.27
langchain-chroma==0.2.5
langchain-community==0.3.27
langchain-core==0.3.72
langchain-openai==0.3.28
langchain-text-splitters==0.3.9
langchain-together==0.3.0
langchain-unstructured==0.1.6
chromadb==1.0.15
pypdf==5.9.0
pypdfium2==4.30.0
unstructured==0.18.11
unstructured-client==0.41.0
unstructured-inference==1.0.5
unstructured.pytesseract==0.3.15
python-magic==0.4.27
fastembed==0.7.1
pydantic==2.11.7
pydantic-settings==2.10.1
pydantic_core==2.33.2
